<div class="div-pet">
    <div>
        <img src="{{this.imageUrl}}" class="pet-image" alt="Image of the pet">
    </div>
    <div class="flex-left">
        <p><b>Name:</b> {{this.name}}</p>
        <p><b>Species:  </b><img class="species" {{#if (isDog this.species)}} src="/images/dog.png" {{else}} src="/images/cat.png" {{/if}} alt="Image of the species"></p>
        <p><b>Breed:</b><a href="/breed-info/{{this._id}}"> {{this.breed}}</a></p>
        <p><b>Age:</b> {{this.age}} year(s)</p>
        <p><b>Size:</b> {{this.size}} cm</p>
        <p><b>Weight:</b> {{this.weight}} kg</p>
        <p><b>Sex:  </b><img class="sex" {{#if (isMale this.sex)}} src="/images/male.png" {{else}} src="/images/female.png" {{/if}} alt="Image of the sex symbol"></p>
        <p><b>Vaccinated:  </b><img class="boolean" {{#if this.vaccinated}} src="/images/true.png" {{else}} src="/images/false.png" {{/if}} alt="Vaccinated"></p>
        <p><b>Neutered:  </b><img class="boolean" {{#if this.neutered}} src="/images/true.png" {{else}} src="/images/false.png" {{/if}} alt="Neutered"></p>
    </div>
</div>