<a href="/shelter-pets">Pets</a>
<br>
<h2>My Pets</h2>
<br>
<div class="flex-row">
    {{#each pets}}
        <br>
        <div class="flex">
            <img src="{{this.imageUrl}}" class="pet-image" alt="Image of the pet">
            <h4>{{this.name}}</h4>
            <h4>{{this.specie}}</h4>
            <h4>{{this.breed}}</h4>
            <h4>{{this.age}}</h4>
            <h4>{{this.size}}</h4>
            <h4>{{this.weight}}</h4>
            <h4>{{this.sex}}</h4>
            <h4>{{this.vaccinated}}</h4>
            <h4>{{this.neutered}}</h4>
            <button class="edit-bttn"><a href="/pet/edit/{{this._id}}">Details</a></button>
            <br>
            <button class="delete-bttn"><a href="/pet/delete/{{this._id}}">Delete</a></button>
        </div>
    {{/each}}
    <br>
    <button class="add-bttn"><a href="/pet/add">Add</a></button>
</div>