<a href="/search">Search</a>
<button><a href="/pet-list">Pet List</a></button>
<br>
<h2>Results</h2>
<br>
{{#each pets}}
    <label for="name"></label>
    <input type="text" name="name" value="{{this.name}}">
    <br>
    <label for="age"></label>
    <input type="number" name="age" value="{{this.age}}">
    <br>
    <label for="size"></label>
    <input type="number" name="size" value="{{this.size}}">
    <br>
    <label for="weight"></label>
    <input type="number" name="weight" value="{{this.weight}}">
    <br>
    <label for="sex"></label>
    <input type="text" name="sex" value="{{this.sex}}">
    <br>
    <!--<label for="vaccinated"></label>
    <input type="checkbox" name="vaccinated" value="{{this.vaccinated}}">
    <br>-->
    <button><a href="/pet/details/{{this._id}}">Details</a></button>
    <button><a href="/pet-list/add/{{this._id}}">Save</a></button>
{{/each}}