<a href="/search">Search</a>
<button><a href="/pet-list">Pet List</a></button>
<br>
<form action="/search" method="POST">
    <h2>What are you looking for?</h2>
    <input type="checkbox" name="dog" checked>
    <label for="dog">Dog</label>
    <input type="checkbox" name="cat" checked>
    <label for="cat">Cat</label>
    <br>
    <button type="submit">Search</button>
</form>
<br>
<div>
    <h2>Results</h2>
    <br>
    {{#each pets}}
        <h4>{{this.name}}</h4>
        <h4>{{this.specie}}</h4>
        <a href="/breed-info/{{this._id}}"><h4>{{this.breed}}</h4></a>
        <h4>{{this.age}}</h4>
        <h4>{{this.size}}</h4>
        <h4>{{this.weight}}</h4>
        <h4>{{this.sex}}</h4>
        <h4>{{this.vaccinated}}</h4>
        <h4>{{this.neutered}}</h4>
        <button><a href="/pet/details/{{this._id}}">Details</a></button>
        <button><a href="/pet-list/add/{{this._id}}">Save</a></button>
        <br>
    {{/each}}
</div>